@charset "utf-8";
/* CSS Document */

html{
	height: 100%;
}

body{ /*Background setup. Such as colours & height of site*/
	margin: 0;
	padding: 0;
	background: rgb(190,50,237);
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}

* {
    margin: 0; 
    padding: 0; 
    font-family: "montserrat", "sans-serif"; 
}

.item1 { grid-area: empty1; display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;}
.item2 { grid-area: header; display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;}
.item3 { grid-area: empty2; display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  
    padding: 15px; 
    height: 100px;
}
.item4 { grid-area: art1; display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;}
.item5 { grid-area: main; display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;}
.item6 { grid-area: art2; display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;}
.item7 { grid-area: empty3; display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;}
.item8 { grid-area: footer; display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;}
.item9 { grid-area: empty4; display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;}

.grid-container {
  display: grid;
  grid-template-areas:
    'empty1 empty1 header header empty2 empty2'
    'art1 art1  main main art2 art2'
    'empty3 empty3 footer footer empty4 empty4';
  gap: 10px;
  padding: 10px;
align-content: center;
}

.top-bar {
    
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 15px; 
    height: 100px;
	
}

.menu {
    display: flex; 
    list-style-type: none;
	color: #00CFB6;
	justify-content: center;
	align-content: center;
	
}

li {
    padding: 20px;
	margin-right: 100px;
    overflow: hidden;
	color: #00CFB6;
	justify-content: center;
}
.a{ 
justify-content: space-between;
}

a:link{
	text-decoration: none;
	color: #00CFB6;
	align-content: center;
}

a:hover{
	text-decoration: none;
	color:rgba(228,12,15,1.00);
}

.box {
    height: 100%;
    width: 30px; 
    cursor: pointer;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.icon, .icon::before, .icon::after {
    display: block; 
    background: white; 
    height: 4px; 
    width: 30px; 
    border-radius: 2px; 
    position: absolute; 
    transition: transform 400ms; 
}

.icon::before {
    content: ""; 
    margin-top: -8px;  
}

.icon::after {
    content: ""; 
    margin-top: 8px;  
}

#activate:checked + .box .icon::before {
    margin-top: 0; 
    transform: rotate(405deg); 
}

#activate:checked + .box .icon::after {
    margin-top: 0; 
    transform: rotate(-405deg); 
}

#activate:checked + .box .icon {
    background: rgba(150,0,4,0);
}

#activate {
    display: none; 
}

.box {
    display: none; 
}

/*Nav-bar setup for both PC and Mobile*/
@media screen and ( max-width : 900px ){
    .grid-container {
  		display: grid;
 		grid-template-areas:
   		 'header header header header header header'
   		 'main main main main main main'
  		 'footer footer footer footer footer footer';
 		gap: 10px;
  		padding: 10px;
		align-content: center;
		align-items: center;
}
	.item1 { 
	display: none;}
	.item3 { 
	display: none;}
	.item4 { 
	display: none;}
	.item6 { 
	display: none;}
	.item7 { 
	display: none;}
	.item9 { 
	display: none;}
	
	.box {
        display: flex; 
    }
    
    .menu {
        position: absolute;
        top: 0; 
        left: 0; 
        margin-top: 115px; 
        flex-direction: column; 
        width: 100%;
        justify-content: center; 
        align-items: center; 
    }
    
    .menu li {
        background: rgba(84,22,105,1); 
        width: 900px;
        display: flex; 
        justify-content: center; 
    }
    
    #activate ~ .menu li {
        height: 0; 
        margin: 0; 
        padding: 0; 
        border: 0; 
        transition: height 400ms; 
    }
    
    #activate:checked ~ .menu li {
        transition: height 400ms; 
        height: 45px;  
        padding: 15px; 
    }
}

/* Create three equal columns that floats next to each other */
/*---style for containers (all css elements is the exact same, but made seperate in case of independent design in each)---*/




