@charset "utf-8";
/* CSS Document */

html{
	height: 100%;
}

body{ /*Background setup. Such as colours & height of site*/
	margin: 0;
	padding: 0;
	background: rgba(11,11,11,1);
	
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}

/*Changes for the site itself. Anything written here can have an effect on the whole site. */
* { 
    margin: 0; 
    padding: 0; 
    /*font-family: "montserrat", "sans-serif"; */
	font-family: 'Allerta';
}

.grid-container {
	display: grid;
	grid-template-columns: 10% 10% 28% 28% 10% 10%;
	grid-template-areas:
    'empty1 empty1 header header empty2 empty2'
	'empty3 empty3 nav nav empty4 empty4'
	'empty5 empty5 news news empty6 empty6'
    'art1 art1  main main art2 art2'
    'empty7 empty7 footer footer empty8 empty8';
	justify-content: center;
	gap: 10px;
	padding: 10px;
	align-content: center;
}

/* HEADER - Logo & name of website */
.header { 
	grid-area: header; 
	display: flex;
  	justify-content: center;
  	align-items: center;
  	margin-bottom: -100px;
}

.header img{
	width: 50%;
}


/* NAVIGATION BAR - Grid + Nav for all large pages on the site  */
.top-bar { 
	grid-area: nav; 
	display: flex;
	justify-content: center;
	align-items: center;
	background:rgba(30,30,30,1.00);
	border-radius: 2px;
}

.menu {
    display: flex; 
    list-style-type: none;
	justify-content: center;
	align-content: center;
	
}

li {
    padding: 20px;
    overflow: hidden;
	color: rgba(255,255,255,1.00);
	justify-content: center;
	font-size: 10px;
}

a:link{
	text-decoration: none;
	color: #00CFB6;
	align-content: center;
}

a:hover{
	text-decoration: none;
	color:rgba(228,12,15,1.00);
}

.box {
    height: 100%;
    width: 30px; 
    cursor: pointer;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.icon, .icon::before, .icon::after {
    display: block; 
    background: white; 
    height: 4px; 
    width: 30px; 
    border-radius: 2px; 
    position: absolute; 
    transition: transform 400ms; 
}

.icon::before {
    content: ""; 
    margin-top: -8px;  
}

.icon::after {
    content: ""; 
    margin-top: 8px;  
}

#activate:checked + .box .icon::before {
    margin-top: 0; 
    transform: rotate(405deg); 
}

#activate:checked + .box .icon::after {
    margin-top: 0; 
    transform: rotate(-405deg);}

#activate:checked + .box .icon {background: rgba(150,0,4,0);}
#activate {display: none; }
.box {display: none;}

/* NEWS BAR - Grid + where the Bort & the latest news is displayed  */
.news { 
	grid-area: news;
  	justify-content: center;
  	align-items: center;
	background:rgba(30,30,30,1.00);
	padding: 10px 10px 0px 10px; /*top, right, bottom, left*/
	border-radius: 2px;
}

.news-header{
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.news-header img{
	width: 320px;
}

.news-header h2{
	color: aliceblue;
	font-size: 25px;
	width: 400px;
	text-align: center;
	justify-content: center;
}

.news-content{
	display: flex;
	padding: 10px 0px 10px 0px; /*top, right, bottom, left*/
	
}

.news-content img{width: 75px;}
.news-text{padding-left: 20px; color:aliceblue;}
.news-text h3{font-size: 20px;}
.news-text p{padding-top: 10px; font-size: 15px;}

/* CONTENT GRID - Banner, content header & content text  */
.main { 
	grid-area: main; 
	justify-content: center;
	align-items: center;
}

.main img{width: 100%;}

.scripture{
	padding: 40px 40px 40px 40px;
	height: 600px;
	background:rgba(220,220,220,1.00);
	margin-top: -4px;
}

.chapter-start{display: flex;}
.chapter-start img{width: 50px;}
.content-text{padding-left: 40px;}
.content-text p{padding-top: 10; margin-bottom: -10px;}
.content-text h1{font-weight: 400; margin-bottom: 30px;}

.text{padding-top: 20px;}

.text p{
	margin-bottom: 10px;
	word-spacing: 2px;
	line-height: 1.2;
}

.text a{
	text-decoration: underline;
	color: black;
}

/* FOOTER - All footer content  */
.footer { 
	grid-area: footer; 
	justify-content: center;
	align-items: center;
	margin-top: -10px;
}

.footer p{
	color: aliceblue;
	text-align: center;
	margin-top: -250px;
	padding-bottom: 20px;
	font-size: 14px;
}

.footer img{
	width: 100%;
}

.footer-icons{
	display: flex;
	justify-content: center;
}
	

.footer-icons img{
	width: 50px;
	padding: 0px 15px;
}

/* GRID EMPTIES */
.empty1 { grid-area: empty1; display: flex; justify-content: center; align-items: center;}
.empty2 { grid-area: empty2; display: flex; justify-content: center; align-items: center;}
.empty3 { grid-area: empty3; display: flex; justify-content: center; align-items: center;}
.empty4 { grid-area: empty4; display: flex; justify-content: center; align-items: center;}
.empty5 { grid-area: empty5; display: flex; justify-content: center; align-items: center;}
.empty6 { grid-area: empty6; display: flex; justify-content: center; align-items: center;}
.empty7 { grid-area: empty7; display: flex; justify-content: center; align-items: center;}
.empty8 { grid-area: empty8; display: flex; justify-content: center; align-items: center;}

.art1 { 
	grid-area: art1; 
	align-items: center; 
	justify-content: center;
	align-content: center;
	display: flex;
	height: 1080px;
}

.art1 img{width: 50%;}

.art2 { 
	grid-area: art2; 
	align-items: center; 
	justify-content: center;
	align-content: center;
	display: flex;
	height: 1080px;
}

.art2 img{width: 50%;}

/*Nav-bar setup for both PC and Mobile*/
@media screen and ( max-width : 900px ){
    .grid-container {
  		display: grid;
 		grid-template-areas:
			'nav nav nav nav nav nav'
    		'header header header header header header'
			'news news news news news news'
    		'main main  main main main main'
   			'footer footer footer footer footer footer';
 		gap: 10px;
  		padding: 10px;
		align-content: center;
		align-items: center;
	}
	
	.empty1 { display: none;}
	.empty2 { display: none;}
	.empty3 { display: none;}
	.empty4 { display: none;}
	.empty5 { display: none;}
	.empty6 { display: none;}
	.empty7 { display: none;}
	.empty8 { display: none;}
	.art1 { display: none;}
	.art2 { display: none;}
	
	.box {display: flex;}
	
	.top-bar { 
		grid-area: nav; 
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(11,11,11,1);
		border-radius: 2px;
		padding: 50px;
	}
	
	.header { 
		grid-area: header; 
		display: flex;
  		justify-content: center;
	}
    
    .menu {
        position: absolute;
        top: 0; 
        left: 0; 
        margin-top: 115px; 
        flex-direction: column; 
        width: 100%;
        justify-content: center; 
        align-items: center; 
    }
    
    .menu li {
        background: rgb(0,0,0); 
        width: 900px;
        display: flex; 
        justify-content: center;
    }
    
    #activate ~ .menu li {
        height: 0; 
        margin: 0; 
        padding: 0; 
        border: 0; 
        transition: height 400ms; 
    }
    
    #activate:checked ~ .menu li {
        transition: height 400ms; 
        height: 45px;  
        padding: 15px;
		align-items: center;
    }
}